nav#mainNav.navbar.navbar-expand-lg.navbar-dark.navbar-shrink.fixed-top
  .container
    a.navbar-brand(href='/')
      img(src='/images/img/irwin-framework.png', alt='...')
    a.navbar-toggler(role='button', data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive')
      | Menu
      i.fa.fa-bars.ms-1
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
        - if (user?.features?.includes('AM'))
          li.nav-item
            a.nav-link(href='/admin') Admin
        - if (process.env.NODE_ENV === 'development')
          li.nav-item
            a.nav-link(href='/dev') Dev
        li.nav-item
          a.nav-link(href='#services') Services
        li.nav-item
          a.nav-link(href='#products') Products
        li.nav-item
          a.nav-link(href='#about') About
        li.nav-item
          a.nav-link(href='#team') Team
        - if (!user)
          li.nav-item
            a.nav-link(href='/auth') Login
        - else
          li.nav-item.dropdown.no-arrow
            a#userDropdown.nav-link.dropdown-toggle.text-center(role='button' data-bs-toggle="dropdown")
              .d-flex.align-items-center
                img.img-profile.rounded-circle(src=`${user.avatarUrl ? user.avatarUrl : '/images/img/user.png'}`)
                .d-lg-none.d-block.ms-2= user.firstName + ' ' + user.lastName
            ul#userDropdownAria.dropdown-menu.shadow.animated--grow-in(aria-labelledby='userDropdown')
              .text-center
                img(style=' border-radius: 50%' src=`${user.avatarUrl ? user.avatarUrl : '/images/img/user.png'}`)
                .fw-bold.mt-2
                  = user.firstName + ' ' + user.lastName
              .dropdown-divider
              a.dropdown-item(href='/me')
                i.fa.fa-user.fa-sm.fa-fw.mr-2.text-gray-400.me-1
                | Profile
              a.dropdown-item(href=`/auth/${user.email}/edit`)
                i.fa.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400.me-1
                | Change password
              .dropdown-divider
              form.nav-link(method='POST' action=`/auth/${user.id}?_method=DELETE`)
                .text-center
                  button.btn.btn-danger(type="submit")
                    i.fa.fa-sign-out
                    | Logout
