extends ../layout

block content
  section.bg-light
    .container
      form(action='/carts/updateQuantity?_method=PATCH' method="POST")
        table.table
          thead
            tr.table-warning
              th(scope='col') Image
              th(scope='col') Name
              th(scope='col') Description
              th(scope='col') Quantity
              th(scope='col') Control
          tbody
            each cart in carts
              tr
                th(scope='row')
                  - if (cart.product.image)
                    img(style='width: 25px' src=`data:image/png;base64,${cart.product.image.toString('base64')}`)
                td= cart.product.name
                td= cart.product.description
                td
                  input(type="number" name=`${cart.productId}:${cart.userId}` value=`${cart.quantity ? cart.quantity : 0}`)
                td
                  form(method="POST" action=`/carts/${cart.productId}:${cart.userId}?_method=DELETE`)
                    button.btn.btn-danger(type="submit")
                      i.fa.fa-trash
        .d-flex.justify-content-end
          input.btn.btn-primary.float-right(type="submit", value="Update Quantity")
